<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title}}</title>
    <!--link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about">About Me</li>
      </ul>
    </nav>
    <div class="container">
      {{content}}
    </div>
    <footer>
      <ul>
        <li><a href="https://github.com/Asmitha-K">github.com/Asmitha-K</a></li>
        <li><a href="https://Asmitha-K.github.io"> Asmitha-K.github.io </a></li>
      </ul>
    </footer>
  </body>
</html>
